	<h3>Date</h3>
<input id="datePicker" type="date">
	<h3>Time Began </h3>
<input type="time">

	<h3>Triggers</h3>

<input type="radio" name="expect"> Expected
<input type="radio" name="expect"> Unexpected

	<h3>MAX FEAR</h3>
	<p>1 is none 10 is extreme </p>
<ul class="list-inline">
  <li><input name="maxFear" type="radio">1</li>
  <li><input name="maxFear" type="radio">2</li>
  <li><input name="maxFear" type="radio">3</li>
  <li><input name="maxFear" type="radio">4</li>
  <li><input name="maxFear" type="radio">5</li>
  <li><input name="maxFear" type="radio">6</li>
  <li><input name="maxFear" type="radio">7</li>
  <li><input name="maxFear" type="radio">8</li>
  <li><input name="maxFear" type="radio">9</li>
  <li><input name="maxFear" type="radio">10</li>
</ul>

	<h3>Triggers</h3>

	<h2>check all aymptoms present to at least a mild degree</h2>
<ul>
	<li><input type="checkbox">Chest pain or discomfort</li>
	<li><input type="checkbox">sweating</li>
	<li><input type="checkbox">heart racing/palpitations/pounding</li>
	<li><input type="checkbox">nasua/upset stomach</li>
	<li><input type="checkbox">shortness of breath</li>
	<li><input type="checkbox">dizzy/unsteady/lightheaded/faint</li>
	<li><input type="checkbox">shaking/trembling</li>
	<li><input type="checkbox">chills/hotflushes</li>
	<li><input type="checkbox">numbness</li>
	<li><input type="checkbox">feeligs of unreality</li>
	<li><input type="checkbox">feelings of choking</li>
	<li><input type="checkbox">fear of dying</li>
	<li><input type="checkbox">fear of losing control/going insane</li>
</ul>

	<h3>Thought </h3>
	<input type="text">

	<h3>Behaviors</h3>
	<input type="text">

	<script>
	alert('hello')
		$(document).ready( function() {
    $('#datePicker').val(new Date().toDateInputValue());
	});​
	</script>