<div class="col-md-6 col-md-offset-3 panicAttackRecord">
  <div class="panel panel-info">
    <div class="panel-body">
    <form method="POST" action="/panicAttack">	

	<h4>Date</h4>
<input id="datePicker" name="date" type="date">
	<h4>Time Began </h4>
<input name="time" type="time">

	<h4>Triggers</h4>
	<input id="triggerText" class="col-md-12" name="triggerText" type="text">

<div class="btn-group col-xs-12" data-toggle="buttons">
  <label class="btn col-xs-12 col-sm-6  btn-lg btn-info"	>
    <input type="radio" name="expect" id="option1" autocomplete="off" checked> Expected
  </label>
  <label class="btn  col-xs-12 col-sm-6 btn-lg btn-info">
    <input type="radio" name="expect" id="option2" autocomplete="off"> Unexpected
  </label>
</div>


<h4>MAX FEAR</h4>
<select name="fear">
	<option value="0">0 None</option>
  <option value="1">1</option>
  <option>2</option>
  <option value="3">3 Mild</option>
  <option>4</option>
  <option value="5">5 Moderate</option>
  <option>6</option>
  <option>7</option>
  <option value="8">8 Strong</option>
  <option>9</option>
  <option value="10">10 Extreme</option>
</select>

	<h4>check all symptoms present to at least a mild degree</h4>
	<div class="btn-group-vertical col-xs-12 col-sm-8 col-sm-offset-2" data-toggle="buttons">
  <label class="btn btn-default">
   <input name="trigger" value="Chest pain or discomfort" type="checkbox">Chest pain or discomfort
  </label>
  <label class="btn btn-default">
    <input name="trigger" value="Sweating" type="checkbox">Sweating
  </label>
  <label class="btn btn-default">
    <input name="trigger" value="Heart racing/palpitations/pounding"type="checkbox">Heart racing/palpitations/pounding
  </label>
   <label class="btn btn-default">
    <input name="trigger" value="Nausea/upset stomach" type="checkbox">Nausea/upset stomach
  </label>
   <label class="btn btn-default">
    <input name="trigger" value="Shortness of breath" type="checkbox">Shortness of breath
  </label>
   <label class="btn btn-default">
    <input name="trigger" value="Dizzy/unsteady/lightheaded/faint" type="checkbox">Dizzy/unsteady/lightheaded/faint
  </label>
   <label class="btn btn-default">
    <input name="trigger" value="Shaking/trembling" type="checkbox">Shaking/trembling
  </label>
   <label class="btn btn-default">
    <input name="trigger" value="Chills/hot flashes" type="checkbox">Chills/hot flushes
  </label>
   <label class="btn btn-default">
    <input name="trigger" value="Numbness/tingling" type="checkbox">Numbess/tingling
  </label>
   <label class="btn btn-default">
    <input name="trigger" value="Feelings of unreality" type="checkbox">Feeling of unreality
  </label>
   <label class="btn btn-default">
    <input name="trigger" value="Feelings of choking" type="checkbox">Feelings of Choking
  </label>
   <label class="btn btn-default">
    <input name="trigger" value="Fear of dying" type="checkbox">Fear of dying
  </label>
   <label class="btn btn-default">
    <input name="trigger" value= "Fear of losing control/going insane" type="checkbox">Fear of losing control/going insane
  </label>

</div>
<div class="row">

	<h4 class="col-xs-12">Thought </h4>
	<textarea rows="5" class="col-xs-12" name="thought" type="text"></textarea>

  <h4 class="col-xs-12">Challenges </h4>
  <textarea rows="5" class="col-xs-12" name="challenge" type="text"></textarea>

	<h4  class="col-xs-12">Behaviors</h4>
	<input id="behave" class="col-xs-12" name="behavior" type="text">
 <button type="submit" class="btn btn-lg btn-block btn-primary submit" >Submit</button>
	</form>
	</div>
	</div>
	</div>

	<script>
	alert('hello')
		$(document).ready( function() {
    $('#datePicker').val(new Date().toDateInputValue());
	});​
	</script>