Date

time began

Trigger

expected unexpected

<input type="radio" name="expect"> Expected
<input type="radio" name="expect"> Unexpected

1-10 scale

check all aymptoms present to at least a mild degree
	<h3>Date</h3>
<input type="date">
	<h3>Time </h3>
<input type="time">

	<h2>check all aymptoms present to at least a mild degree</h2>
<ul>
	<li><input type="checkbox">Chest pain or discomfort</li>
	<li><input type="checkbox">sweating</li>
	<li><input type="checkbox">heart racing/palpitations/pounding</li>
	<li><input type="checkbox">nasua/upset stomach</li>
	<li><input type="checkbox">shortness of breath</li>
	<li><input type="checkbox">dizzy/unsteady/lightheaded/faint</li>
	<li><input type="checkbox">shaking/trembling</li>
	<li><input type="checkbox">chills/hotflushes</li>
	<li><input type="checkbox">numbness</li>
	<li><input type="checkbox">feeligs of unreality</li>
	<li><input type="checkbox">feelings of choking</li>
	<li><input type="checkbox">fear of dying</li>
	<li><input type="checkbox">fear of losing control/going insane</li>
</ul>

	<h3>Thought </h3>
	<input type="text">

	<h3>Behaviors</h3>
	<input type="text">